
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Permanent Marker", cursive;
  background-color: rgb(0, 0, 0); /* Чорний фон */
  color: yellow; /* Жовтий текст */
}

:root{
  --sizeindex: calc(1vw + 1vh)
}

#background-video {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}


a{
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-block, .right-block {
  width: 49%;
  padding: 20px;
}

.left-block {
  
}

.right-block {
 
}

/* Стилі для верхнього меню */
.top-menu {
  background: rgba(94, 94, 94, 0.137);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
  position: relative;
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-logo {
  display: inline-block;
  font-size: 35px;
  color: yellow;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu-main li {
  display: inline-block;
}

.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: yellow;
  transition: .3s linear;
}

.menu-main a::before {
  content: "";
  width: 9px;
  height: 9px;
  background: #00a2ff;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}

.menu-main a:hover:before {
  opacity: 1;
}

/* Адаптація для малих екранів */
@media (max-width: 660px) {
  .menu-main {
      float: none;
      padding-top: 20px;
  }

  .top-menu {
      text-align: center;
      padding: 20px 0 0 0;
  }

  .menu-main a {
      padding: 0 10px;
  }

  .menu-main a:before {
      transform: rotate(45deg) translateX(-6px);
  }
}

@media (max-width: 600px) {
  .menu-main li {
      display: block;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cacbc7;
  padding: calc(var(--sizeindex) * 1.4);
  background: linear-gradient(rgba(0, 0, 253, 0), rgba(255, 255, 255, 0.039));
  text-align: center;
  z-index: 1;
}