/* Загальні стилі */
html,body{
    width: 99%;
    height: 99%;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    background: rgb(0, 0, 0);
    background-size: 200% 200%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#Baton {
    background-color: #FFD700;
    border: rgb(255, 255, 255);
    color: black;
    padding: 15px 32px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

#About1 {
    color: yellow;
}

#Div1 {
    width: 90%; /* Змінюємо ширину на 90% для центрування */
    max-width: 600px; /* Додамо максимальну ширину, щоб уникнути занадто широкого блоку на більших екранах */
    margin: 0 auto; /* Автоматичне вирівнювання по центру */
    position: relative;
    top: 20px;
    text-align: center; /* Центруємо текст в блоку */
}

#Div2 {
    width: 600px;
}

#About {
    color: yellow;
    font-size: 25px;
}

#Div3 {
    padding: 100px;
    text-align: center;
}

#images {
    margin-right: lenth = 100px;
}

.scale {
    transition: 1.5s; /* Время эффекта */
}

.scale:hover {
    transform: scale(1.4); /* Увеличиваем масштаб */
}

.container {
    position: relative;
    width: 100%;
    transform: rotate(-35deg);
}

.container.box {
    position: relative;
    display: flex;
    left: -50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: animateSurface 1.5s ease-in-out infinite;
}

@keyframes animateSurface {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-200px);
    }
}

@import url('https://fonts.googleapis.com/css?family=Arimo');

/* Стилі для верхнього меню */
.top-menu {
    background: rgba(94, 94, 94, 0.137);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
  }
  
  .top-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .navbar-logo {
    display: inline-block;
    font-size: 35px;
    color: yellow;
  }
  
  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  
  .menu-main li {
    display: inline-block;
  }
  
  .menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: yellow;
    transition:.3s linear;
  }
  
  .menu-main a::before {
    content: "";
    width: 9px;
    height: 9px;
    background: #00a2ff;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
  }
  
  .menu-main a:hover:before {
    opacity: 1;
  }  
  
  /* Адаптація для малих екранів */
  @media (max-width: 660px) {
    .menu-main {
        float: none;
        padding-top: 20px;
    }
  
    .top-menu {
        text-align: center;
        padding: 20px 0 0 0;
    }
  
    .menu-main a {
        padding: 0 10px;
    }
  
    .menu-main a:before {
        transform: rotate(45deg) translateX(-6px);
    }
  }
  
  @media (max-width: 600px) {
    .menu-main li {
        display: block;
    }
  }
@media (max-width: 1024px) {
    /* Стилі для планшетів */
    #Div1 {
        width: 250px;
    }
}

@media (max-width: 768px) {
    /* Стилі для планшетів у ландшафтному режимі та менших ноутбуків */
    #Div1 {
        width: 200px;
        text-align: left; /* Вирівнювати текст ліворуч */
    }
}
